<h1>Listing talks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Presenters</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talks.each do |talk| %>
  <tr>
    <td><a href="/video/<%= talk[:id] %>" class="video-links"><%= talk.name %></a></td>
    <td>
      <% talk.peoplelinks.each do |p| %>
      <a href="<%= p[:link] %>"><%= p[:name] %></a>
      <% end %>
    </td>
    <td><%= link_to 'Show', talk %></td>
    <td><%= link_to 'Edit', edit_talk_path(talk) %></td>
    <td><%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talk', new_talk_path %>
