<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @presenter.name %>
</p>

<p>
  <b>Handle:</b>
  <%= @presenter.handle %>
</p>

<p>
  <b>Email:</b>
  <%= @presenter.email %>
</p>

<p>
  <b>Fbook:</b>
  <%= @presenter.fbook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @presenter.twitter %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @presenter.linkedin %>
</p>

<p>
  <b>Url:</b>
  <%= @presenter.url %>
</p>

<p>
  <b>Skype:</b>
  <%= @presenter.skype %>
</p>

<p>
  <b>Aim:</b>
  <%= @presenter.aim %>
</p>

<%= link_to 'Edit', edit_presenter_path(@presenter) %> |
<%= link_to 'Back', presenters_path %>
